  body {
   padding-left: 11em;
   font-family: Georgia, "Times New Roman",
          Times, serif;
		  color: rgb(0, 0, 0);
    background-color: #ffffff }

	h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
		ul.navbar li {
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black }
  ul.navbar a {
    text-decoration: none }
  a:link {
    color: blue }
  a:visited {
    color: purple }
	address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }
   
    ul.navbar {
      list-style-type: none;
      padding: 0;
      margin: 0;
    position: absolute;
      top: 2em;
      left: 1em;
      width: 10em }
.navbar {  
  background-color: #333; 
} 


.main-text{
  width: 70%;
}
  

.navbar a {  
  float: left; 
  display: block; 
  color: white; 
  text-align: left; 
  padding: 14px 16px;   
}  
  
.navbar a:hover {  
  background-color: #ddddddc5; 
  color: rgb(0, 0, 0); 
}  
